[package]
name = "hdr10plus_tool"
version = "1.6.0"
authors = ["quietvoid"]
edition = "2021"
rust-version = "1.64.0"
license = "MIT"

[dependencies]
bitvec_helpers = { version = "3.1.2", default-features = false, features = ["bitstream-io"] }
hdr10plus = { path = "./hdr10plus", features = ["hevc", "json"] }
hevc_parser = { version = "0.6.1", features = ["hevc_io"] }

clap = { version = "4.1.8", features = ["derive", "wrap_help", "deprecated"] }
serde_json = { version = "1.0.93", features = ["preserve_order"] }
indicatif = "0.17.3"
anyhow = "1.0.69"
thiserror = "1.0.38"
plotters = { git = "https://github.com/plotters-rs/plotters", default-features = false, features = ["bitmap_backend", "bitmap_encoder", "all_series"] }

[dev-dependencies]
assert_cmd = "2.0.8"
assert_fs = "1.0.10"
predicates = "2.1.5"

[[bin]]
name = "hdr10plus_tool"
path = "src/main.rs"

[workspace]
members = [
    "hdr10plus",
]

[features]
default = ["system-font"]
system-font = ["plotters/ttf"]
internal-font = ["plotters/ab_glyph"]
